<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign path = "/" | append: page.lang -%}
    <a class="site-title" rel="author" href="{{- path | relative_url -}}">{{- site.title | escape -}}</a>

    {%- if page_paths -%}
      <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger">
          <span class="menu-icon">
            <svg viewBox="0 0 18 15" width="18px" height="15px">
              <path d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.032C17.335,0,18,0.665,18,1.484L18,1.484z M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.032C17.335,6.031,18,6.696,18,7.516L18,7.516z M18,13.516C18,14.335,17.335,15,16.516,15H1.484 C0.665,15,0,14.335,0,13.516l0,0c0-0.82,0.665-1.483,1.484-1.483h15.032C17.335,12.031,18,12.695,18,13.516L18,13.516z"/>
            </svg>
          </span>
        </label>

        <div class="trigger">
          {%- assign path = page.lang | append: "/docs/index.md" -%}
          {%- assign file_exists = site.html_pages | where: "path", path -%}
          {%- if file_exists.size != 0 -%}
            <a class="page-link" href="/{{- page.lang -}}/docs/index.html">{%- include t.html key="views.navigation.docs" -%}</a>
          {%- else -%}
            <a class="page-link" href="/{{- site.lang -}}/docs/index.html">{%- include t.html key="views.navigation.docs" lang=site.lang -%}</a>
          {%- endif -%}

          {%- assign path = page.lang | append: "/posts/index.md" -%}
          {%- assign file_exists = site.html_pages | where: "path", path -%}
          {%- if file_exists.size != 0 -%}
            <a class="page-link" href="/{{- page.lang -}}/posts/index.html">{%- include t.html key="views.navigation.posts" -%}</a>
          {%- else -%}
            <a class="page-link" href="/{{- site.lang -}}/posts/index.html">{%- include t.html key="views.navigation.posts" lang=site.lang -%}</a>
          {%- endif -%}

          <a class="page-link" href="https://packages.termux.dev">{%- include t.html key="views.navigation.packages" -%}</a>

          {%- assign path = page.lang | append: "/donate.md" -%}
          {%- assign file_exists = site.html_pages | where: "path", path -%}
          {%- if file_exists.size != 0 -%}
            <a class="page-link" href="/{{- page.lang -}}/donate">{%- include t.html key="views.navigation.donate" -%}</a>
          {%- else -%}
            <a class="page-link" href="/{{- site.lang -}}/donate">{%- include t.html key="views.navigation.donate" lang=site.lang -%}</a>
          {%- endif -%}

          {%- assign path = page.lang | append: "/privacy-policy.md" -%}
          {%- assign file_exists = site.html_pages | where: "path", path -%}
          {%- if file_exists.size != 0 -%}
            <a class="page-link" href="/{{- page.lang -}}/privacy-policy">{%- include t.html key="views.navigation.privacy_policy" -%}</a>
          {%- else -%}
            <a class="page-link" href="/{{- site.lang -}}/privacy-policy">{%- include t.html key="views.navigation.privacy_policy" lang=site.lang -%}</a>
          {%- endif -%}

          {%- if page.page_ref and page.lang -%}
            {%- if page.collection == "posts" -%}
              {%- assign alternate_translations = site.posts | where: "page_ref", page.page_ref | sort: "lang" -%}
            {%- else -%}
              {%- assign alternate_translations = site.pages | where: "page_ref", page.page_ref | sort: "lang" -%}
            {%- endif -%}


            <script src="/assets/js/language.js"></script>
            <div class="dropdown">
              <button onclick="toggleLanguageSelector()" class="dropbtn">{{- page.lang -}}</button>
              <div id="languageDropdown" class="dropdown-content">
               {%- for lang in site.supported_langs -%}
                  {%- if page.lang == lang -%}
                    <!---
                    Need to add earth grid icon, fix button size and dropdown overflow on mobile devices
                    <a class="btn btn-secondary nav-link active disabled" role="button"
                      aria-pressed="true">{{- site.data.language[lang].name_native | append: " (" | append: lang | append: ")" -}}</a>
                    -->
                    <a class="btn btn-secondary nav-link active disabled" role="button"
                      aria-pressed="true">{{- lang -}}</a>
                  {%- else -%}
                    {%- assign alternate_translation = alternate_translations | where: "lang", lang | first -%}

                    {%- if alternate_translation -%}
                      <a class="btn btn-secondary nav-link" role="button"
                        href="{{- alternate_translation.url -}}">{{- lang -}}</a>
                    {%- endif -%}
                  {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
          {%- endif -%}

        </div>
      </nav>
    {%- endif -%}
  </div>
</header>
