---
layout: default
---

<div class="container-lg px-3 my-5 markdown-body">
  {%- if page.title and page.title != "" -%}
    <h1 class="post-title">{{- page.title | escape -}}</h1>
  {%- endif -%}
  <p class="post-meta">
    <time class="dt-published" datetime="{{- page.date | date_to_xmlschema -}}" itemprop="datePublished">
      {{- "<strong>Created:</strong> " -}}{%- include utils/datetime/format.html date=page.date lang=page.lang strip_midnight=true -%}
    </time>
    {%- if page.last_modified_at -%}
      <time class="dt-modified" datetime="{{- page.last_modified_at | date_to_xmlschema -}}" itemprop="dateModified">
        {{- " <strong>Last Modified:</strong> " -}}{%- include utils/datetime/format.html date=page.last_modified_at lang=page.lang strip_midnight=true -%}
      </time>
    {%- endif -%}
    {%- if page.author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">
        {{- " <strong>Author:</strong> " -}}{{- page.author -}}
      </span></span>
    {%- endif -%}
  </p>

  {% include utils/markdown/markdown-processor.html markdown=content %}
</div>

<div class="wrapper">
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</div>
