<div class="category">
  {%- if page.category_name -%}

    {% assign category_posts = site.categories[page.category_name] %}
    <h1 class="page-heading">{{ page.category_name | capitalize }} Posts ({{ category_posts.size | default: "0" }})</h1>

    {%- if category_posts.size > 0 -%}
      <ul class="post-list">
        {%- for post in category_posts -%}
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

  {%- else -%}
    <h1 class="page-heading">No Category Name Set</h1>
  {%- endif -%}

</div>

