---
layout: default
---

<header class="home-header">
  <h1 class="home-title">{{ page.title | escape }}</h1>
  <style>
    .first { font-weight: bold; }
    .wiki { text-align: center; }

    img { margin: 18px auto; max-width:100%; height:auto; }
    img.phone:first-of-type { margin-top: 3em; display: block; }
    @media only screen and (min-width: 500px) {
      img.phone:first-of-type { margin-top: 0; margin-bottom: 0; margin-left: 1em; margin-right: 1em; float: right; }
    }
    .badges { text-align: center; margin-top: 0; margin-left: auto; margin-right: auto; }

    .fade-out { opacity: 0; transition: opacity 1s; }
    .fade-in { opacity: 1; transition: opacity 1s; }
  </style>
</header>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <p>Termux is an <strong>Android terminal emulator and Linux environment app</strong> that
     works directly with no rooting or setup required. A minimal base system is installed automatically
     - additional packages are available using the APT package manager.</p>

  <div class="badges">
    <a href="https://github.com/termux/termux-app#github">
      <img alt="Get it on Github" src="files/get-it-on-github.png" width="215" height="83"/></a>
    <a href="https://github.com/termux/termux-app#f-droid">
      <img alt="Get it on F-Droid" src="files/get-it-on-fdroid.png" width="215" height="83"/></a>
    <!--<a href="https://github.com/termux/termux-app#google-play-store-deprecated">
      <img alt="Get it on Google Play" src="files/get-it-on-google-play.png" width="215" height="83"/></a>-->
  </div>

  <p class="wiki"><a href="https://wiki.termux.com/wiki/Main_Page">Read the wiki to learn more</a></p>

  <img class="phone" src="files/htop_framed.png" data-sliderimages="files/vim-main_framed.png,files/hello_framed.png,files/weechat-with-keyboard_framed.png" alt="" width="305" height="600"/>

  <p><strong class="first">Secure.</strong>
  Access remote servers using the ssh client from OpenSSH. Termux combines standard packages
  with accurate terminal emulation in a beautiful open source solution.</p>

  <p><strong class="first">Feature packed.</strong>
  Take your pick between Bash, fish or Zsh and nano, Emacs or Vim. Grep through your
  SMS inbox.  Access API endpoints with curl and use rsync to store backups of
  your contact list on a remote server.</p>

  <p><strong class="first">Customizable.</strong>
  Install what you want through the APT package management system known from Debian
  and Ubuntu GNU/Linux. Why not start with installing Git and syncing your dotfiles?</p>

  <p><strong class="first">Explorable.</strong>
  Have you ever sat on a bus and wondered exactly which arguments tar accepts?
  Packages available in Termux are the same as those on Mac and Linux - install man pages on your
  phone and read them in one session while experimenting with them in another.</p>

  <p><strong class="first">With batteries included.</strong> 
  Can you imagine a more powerful yet elegant pocket calculator than a readline-powered Python console?
  Up-to-date versions of Perl, Python, Ruby and Node.js are all available.</p>

  <p><strong class="first">Ready to scale up.</strong> 
  Connect a Bluetooth keyboard and hook up your device to an external display if you need to - Termux supports
  keyboard shortcuts and has full mouse support.<p>

  <p><strong class="first">Tinkerable.</strong> 
  Develop by compiling Go, Rust, Swift, or C files with Clang and build your own projects
  with CMake and pkg-config. Both lldb/GDB and strace are available if you get stuck and need to debug.</p>

  <div class="badges">
  <a href="https://fosshost.org"> 
    <img alt="Powered by fosshost" src="files/powered-by-fosshost.png" width="215" height="83"/></a>
  </div>
</div>
<script src="files/slider.js"></script>
