---
layout: page
no_add_title_heading: true
---

<header class="home-header">
  {%- if page.title and page.title != "" -%}
    <h1 class="home-title">{{- page.title | escape -}}</h1>
  {%- endif -%}
  <style>
    .first { font-weight: bold; }
    .wiki { text-align: center; }

    img { margin: 18px auto; max-width:100%; height:auto; }
    img.phone:first-of-type { margin-top: 3em; display: block; }
    @media only screen and (min-width: 500px) {
      img.phone:first-of-type { margin-top: 0; margin-bottom: 0; margin-left: 1em; margin-right: 1em; float: right; }
    }
    .badges { text-align: center; margin-top: 0; margin-left: auto; margin-right: auto; }

    .fade-out { opacity: 0; transition: opacity 1s; }
    .fade-in { opacity: 1; transition: opacity 1s; }

    .sponsors-table, .sponsors-item { background-color: #fdfdfd !important; border: none !important; margin: auto !important; }
    .sponsors-table { border-collapse: collapse !important; text-align: center !important; }
  </style>
</header>

<div class="home">
  {{ content }}

  <p>{%- include t.html key="views.home.intro" -%}</p>

  <div class="badges">
    <a href="https://github.com/termux/termux-app#github">
      <img alt="Get it on Github" src="/assets/globals/hosts/get-it-on-github.png" width="215" height="83"/></a>
    <a href="https://github.com/termux/termux-app#f-droid">
      <img alt="Get it on F-Droid" src="/assets/globals/hosts/get-it-on-fdroid.png" width="215" height="83"/></a>
    <!--<a href="https://github.com/termux/termux-app#google-play-store-deprecated">
      <img alt="Get it on Google Play" src="/assets/globals/hosts/get-it-on-google-play.png" width="215" height="83"/></a>-->
  </div>

  <img class="phone" src="/assets/globals/home/htop_framed.png" data-sliderimages="/assets/globals/home/vim-main_framed.png,/assets/globals/home/hello_framed.png,/assets/globals/home/weechat-with-keyboard_framed.png" alt="" width="305" height="600"/>

  <p><strong class="first">{%- include t.html key="views.home.features.secure.title" -%}</strong> 
  {% include t.html key="views.home.features.secure.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.feature_packed.title" -%}</strong>
  {% include t.html key="views.home.features.feature_packed.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.customizable.title" -%}</strong>
  {% include t.html key="views.home.features.customizable.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.explorable.title" -%}</strong>
  {% include t.html key="views.home.features.explorable.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.portable.title" -%}</strong>
  {% include t.html key="views.home.features.portable.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.scalable.title" -%}</strong>
  {% include t.html key="views.home.features.scalable.description" %}</p>

  <p><strong class="first">{%- include t.html key="views.home.features.tinkerable.title" -%}</strong>
  {% include t.html key="views.home.features.tinkerable.description" %}</p>




<h1 style="font-size: 40px; margin-top: 100px; text-align: center; border-bottom: none !important; text-decoration: none !important; list-style: none !important;">Sponsors and Funders</h1>

<table class="sponsors-table">
  <tr class="sponsors-item">
    <td class="sponsors-item" style="padding-left: 20% !important;">
      <a href="https://github.com">
        <img alt="GitHub Accelerator" width="75%" src="/assets/sponsors/github.png" />
      </a>
      <br>
      <i><a href="https://github.com/accelerator">GitHub Accelerator</a> (<a href="https://github.blog/2023-04-12-github-accelerator-our-first-cohort-and-whats-next">1</a>)</i>
    </td>

    <td class="sponsors-item" style="padding-right: 20% !important;">
      <a href="https://github.com">
        <img alt="GitHub Secure Open Source Fund" width="75%" src="/assets/sponsors/github.png" />
      </a>
      <br>
      <i><a href="https://resources.github.com/github-secure-open-source-fund">GitHub Secure Open Source Fund</a> (<a href="https://github.blog/open-source/maintainers/securing-the-supply-chain-at-scale-starting-with-71-important-open-source-projects">1</a>, <a href="https://termux.dev/en/posts/general/2025/08/11/termux-selected-for-github-secure-open-source-fund-session-2.html">2</a>)</i>
    </td>
  </tr>

  <tr class="sponsors-item">
    <td class="sponsors-item" style="padding-left: 20% !important;">
      <a href="https://nlnet.nl/mobifree">
        <img alt="NLnet NGI Mobifree" width="75%" src="/assets/sponsors/nlnet-ngi-mobifree.png" />
      </a>
      <br>
      <i><a href="https://nlnet.nl/mobifree">NLnet NGI Mobifree</a> (<a href="https://nlnet.nl/news/2024/20241111-NGI-Mobifree-grants.html">1</a>, <a href="/{{- page.lang -}}//posts/general/2024/11/11/termux-selected-for-nlnet-ngi-mobifree-grant.html">2</a>)</i>
    </td>

    <td class="sponsors-item" style="padding-right: 20% !important;">
      <a href="https://www.cloudflare.com">
        <img alt="Cloudflare" width="75%" src="/assets/sponsors/cloudflare.png" />
      </a>
      <br>
      <i><a href="https://www.cloudflare.com">Cloudflare</a> (<a href="https://packages-cf.termux.dev">1</a>)</i>
    </td>
  </tr>
</table>

  <div class="badges">
  <a href="https://www.hetzner.com/cloud"> 
    <img alt="Hosted by Hetzner" src="/assets/globals/hosts/hosted-by-hetzner.png" width="215" height="83"/></a>
  </div>
</div>
<script src="/assets/globals/home/slider.js"></script>
