---
layout: default
---

<div class="container-lg px-3 my-5 markdown-body">
  {%- if page.title and page.title != "" -%}
    <h1 class="post-title">{{ page.title | escape }}</h1>
  {%- endif -%}
  <p class="post-meta">
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {{ page.date | date: date_format }}
    </time>
    {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
    {%- endif -%}
  </p>

  {% include markdown-processor.html markdown=content %}
</div>

<div class="wrapper">
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
</div>
